body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

header {
  align-items: center;
  background: #F5DA55;
  display: flex;
  height: 3em;
  justify-content: space-between;
}

header a {
  color: #222;
  display: block;
  font-weight: bold;
  line-height: 3em;
  padding: 0 1em;
}
@media (max-width: 450px) {
  header a {
    font-size: .75em;
    min-width: 60px;
  }
}

h1 {
  font-size: 1.25em;
  margin: 0;
  padding-left: 1em;
}

h2 {
  border-bottom: 1px solid #222;
  cursor: pointer;
  font-size: 2em;
  margin: .25em -.25em 1em;
  position: relative;
}
h2 > a { color: black; }
h2 > a:hover { text-decoration: none; }

h2:before {
  color: #F5DA55;
  content: '#';
  display: none;
  padding-right: .25em;
  position: absolute;
  right: 100%;
  top: 0;
}

h2.active:before,
h2:hover:before {
  display: block;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: .25em .5em 0;
}

main {}

section {
  clear: both;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
}

article {
  clear: both;
  margin-bottom: 1em;
}
article:last-of-type { margin-bottom: 0; }

p { margin: 1em 0; }

figure {
  display: block;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: square;
}
li { flex-basis: 100%; }

.button,
button {
  background-color: #428bca;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 0 #428bca;
  clear: both;
  color: #fdfdfd;
  display: inline-block;
  float: right;
  margin-bottom: .5em;
  padding: .5em 2em;
  text-decoration: none;
  transition: box-shadow .06125s;
  will-change: box-shadow;
}
.button:hover,
button:hover {
  color: #fdfdfd;
  text-decoration: none;
}
.button:active,
button:active { box-shadow: inset 0 3px #2a6496; }
.button:focus,
button:focus { outline: none; }

@media (max-width: 998px) {
  .button,
  button { display: none; }
}



@media (max-width: 1100px) {
  .github-fork-ribbon-wrapper { display: none; }
}
